{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ program.id }}
		-
		{{ program.title }}</h1>
	<p>Synopsis:
		{{ program.summary }}</p>
	<p>Catégorie:
		{{ program.category.name }}</p>
	<div>
		{% for season in seasons %}
			<a style="color:brown" href="{{ path('program_season_show', {program: program.id, season: season.id}) }}">Saison
				{{season.number}}</a>
		{% endfor %}
	</div>
	<img src="{{ program.poster }}" alt="">
	<div>
		<a style="color:yellow" href="{{ path('program_app_index') }}">
			Retour à la liste des programmes
		</a>
	</div>
	<div>
		<a style="color:black" href="{{ path('category_index') }}">
			Voir catégories
		</a>
	</div>

	<strong>Acteurs :</strong>
	<ul>
		{% for actor in program.actors %}
			<li>
				<a href="{{path('actor_show', {id: actor.id})}}">{{ actor.name }}</li>
			</li>
		</a>
	{% else %}
		<li>Aucun acteur pour cette série</li>
	{% endfor %}
</ul>{% endblock %}
